body {
  background-color: beige;
  
}

h3 {
  color: purple;
  font-size: 413%;
  text-shadow: 2px 2px red;
  letter-spacing: 2px;
  
}

img {
  width: 20%;
  border-radius: 50%;
}

img:hover {
  border: dashed-red 6px;
  width: 32%
}
